* {
    box-sizing: border-box;
  }
html, body{
    height: 100vh;
}
h1 {
    background-color: #484848;
    height: 7%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#search {
    background-color: #747573;
    float: left;
    color:white;    
}

.col-md-4 {
    padding: 25px 0 0 70px;
}
.container-fluid{
    height: 93%;
}

#btnsearch {
    color: white;
    border-radius: 0 5px 5px 0;
    background-color: rgb(61, 61, 230);
    border: none;
    font-size: 21px;
}

.results {
    float: right;
}
